[run]
source = pyqtgraph
branch = True
[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    *test*
    */__pycache__/*
    *.pyc
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
ignore_errors = True
