[flake8]
exclude = .git,.tox,__pycache__,doc,old,build,dist
show_source = True
statistics = True
verbose = 2
select =
    E101,
    E112,
    E122,
    E125,
    E133,
    E223,
    E224,
    E242,
    E273,
    E274,
    E901,
    E902,
    W191,
    W601,
    W602,
    W603,
    W604,
    E124,
    E231,
    E211,
    E261,
    E271,
    E272,
    E304,
    F401,
    F402,
    F403,
    F404,
    E501,
    E502,
    E702,
    E703,
    E711,
    E712,
    E721,
    F811,
    F812,
    F821,
    F822,
    F823,
    F831,
    F841,
    W292
