repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
    args: ['--maxkb=100']
  - id: check-case-conflict
  - id: end-of-file-fixer
  - id: fix-encoding-pragma
    args: ['--remove']
  - id: mixed-line-ending
    args: [--fix=lf]
  - id: check-merge-conflict
  - id: check-toml
  - id: debug-statements
  - id: check-ast
- repo: https://github.com/pycqa/isort
  rev: 7.0.0
  hooks:
  - id: isort
- repo: https://github.com/rstcheck/rstcheck
  rev: v6.2.5
  hooks:
  - id: rstcheck
    additional_dependencies: ['rstcheck[sphinx,toml]']
- repo: https://github.com/hadialqattan/pycln/
  rev: v2.6.0
  hooks:
  - id: pycln