PyQt6==6.8.1
sphinx==8.2.0
pydata-sphinx-theme==0.16.0
sphinx-design==0.6.1
sphinxcontrib-images==0.9.4
sphinx-favicon==1.0.1
sphinx-autodoc-typehints
sphinx-qt-documentation
sphinxext-rediraffe
numpy
pyopengl
colorama
