PyQt6==6.5.2
sphinx==6.2.1
pydata-sphinx-theme==0.13.3
sphinx-design==0.4.1
sphinxcontrib-images==0.9.4
sphinx-favicon==1.0.1
sphinx-autodoc-typehints
sphinx-qt-documentation
sphinxext-rediraffe
numpy
pyopengl
