PyQt6==6.10.0
sphinx==8.2.3
pydata-sphinx-theme==0.16.1
sphinx-design==0.6.1
sphinxcontrib-images==1.0.1
sphinx-favicon==1.0.1
sphinx-autodoc-typehints
sphinx-qt-documentation
sphinxext-rediraffe
numpy
pyopengl
colorama
