name: Upload Python Package

on:
  release:
    types: [published]

jobs:
  pypi-publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.x'
    - name: Install Dependencies
      run: |
        python -m pip install -U build twine
    - name: Build Wheel
      run: |
        python -m build --wheel
        twine check "dist/*.whl"
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        attestations: true
        verify-metadata: true
